<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid login or password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
		<div>        
	        <form th:action="@{/login}" method="post">
				<table>
					<tr><td>Login:</td><td><input type="text" name="username" /></td></tr>
					<tr><td>Password:</td><td><input type="password" name="password" /></td></tr>
					<tr><td></td><td><input type="submit" value="Log In" /></td></tr>
				</table>
	        </form>
        </div>
    </body>
</html>