<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
	    <title>Upload image</title>
	</head>
	<body>
		<div th:if="${userMessage}">
			<h2 th:text="${userMessage}"/>
		</div>
		<div th:if="${uploadMessage}">
			<h3 th:text="${uploadMessage}"/>
		</div>
		<div>
			<form method="POST" enctype="multipart/form-data" action="upload-image">
				<table>
					<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
					<tr><td>Submit:</td><td><input type="submit" value="Upload" /></td></tr>
				</table>
			</form>
		</div>
	</body>
</html>
